body{
    padding-top:3rem;    
}
.header{
    margin-bottom: 1rem;
}

.header a.small
{
    float: right;
    font-size: 1rem;
    text-decoration: none;
}

.main span.small{
    float: right;
    font-size: 1rem;
}
.main .overflow
{
    height: 30rem;
    overflow-y: scroll;
}